    <div class="contact py-5">
      <div class="container py-5">
          <div class="row">
              <div class="col-lg-5 m-auto text-center">
                  <h1>CONTACT US</h1>
                  <h6 style="color: #31473A">Always be in touch with us</h6>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-9 m-auto">
                  <div class="row">
                      <div class="col-lg-4">
                          <h6 style="color: #31473A;">LOCATION</h6>
                          <p>New york 99322</p>

                          <h6 style="color: #31473A;">PHONE</h6>
                          <p>033232-3498239</p>

                          <h6 style="color: #31473A;">EMAIL</h6>
                          <p>baonhanthai2710@gmail.com</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>